{% extends 'base.html' %}

{% block content %}

<style>
    .btn-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .p_item {
        border: 1px black solid;
        font-size: 12px;
        margin: 5px;
    }

    .btn-size {
        font-size: 13px;
    }

    .btn-custom {
        background-color: #080808;
        border: none;
        border-radius: 20px;
        color: white;
        text-size-adjust: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #a9c6e4;
    }
</style>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-5">
        <h2>Fiabilisation Des Acces</h2>
        <button type="button" class="btn btn-primary">
            <a class="nav-link" href="{% url 'update_ussd_osn' %}"> <i class="fas fa-sync-alt"></i> Mise a jour par rapport a l'AD </a>
        </button>

        <button type="button" class="btn btn-primary">
            <a class="nav-link" href="{% url 'update_ussd_osn_tmp' %}"><i class="fas fa-sync-alt"></i> Mise a jour par rapport a DRH </a>
        </button>


        <div class="d-flex justify-content-between align-items-center">
            <div style="margin-right: 30px;">  
                <a class="nav-link" href="#" onclick="return confirm('Es-tu sûr de vouloir supprimer toutes les données ?') ? window.location.href='{% url 'supprimer_ussd_osn_data' %}' : false;">
                    <i class="fas fa-trash" style="color:rgb(220, 66, 66);font-size: 24px;"></i>
                </a>
            </div>
            <button type="button" class="btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-plus" ></i> Ajouter
            </button>
        </div>
    </div>
    <table id="data_table" class="table table-striped table-bordered table-sm table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User</th>
                <th scope="col">Groups</th>
                <th scope="col">Commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% if all_ussd_osn_records %}
            {% for ussd_osn_record in all_ussd_osn_records %}
            <tr>
                <td><a class="btn btn-size btn-primary  btn-sm">{{ ussd_osn_record.id }}</a></td>
                <td>{{ ussd_osn_record.User }}</td>
                <td>{{ ussd_osn_record.Groups }}</td>
                <td>{{ ussd_osn_record.commentaire }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<div class="btn-nav">
    <div class="pagination">
        {% if ussd_osn_records.has_previous %}
        <a href="?page=1" class="p_item"><i class="fas fa-angle-double-left"></i> First </a>
        <a href="?page={{ ussd_osn_records.previous_page_number }}" class="p_item"><i class="fas fa-chevron-left"></i> Previous</a>
        {% endif %}

        <span class="current">Page {{ ussd_osn_records.number }} of {{ ussd_osn_records.paginator.num_pages }}</span>

        {% if ussd_osn_records.has_next %}
        <a href="?page={{ ussd_osn_records.next_page_number }}" class="p_item"><i class="fas fa-chevron-right"></i> Next
        </a>
        <a href="?page={{ ussd_osn_records.paginator.num_pages }}" class="p_item"><i class="fas fa-angle-double-right"></i>
            Last</a>
        {% endif %}
    </div>
    <!-- <div>
        <button id="export_ussd_osn_disabled" class="btn btn-size btn-danger"><i class="fas fa-trash"></i> ussd_osn iussd_osntifs</button>
    </div>
    <div>
        <button id="export_ussd_osn_actif" class="btn btn-size btn-success"><i class="fas fa-file-csv"></i> ussd_osn actifs</button>
    </div>
    <div>
        <button id="export_data_to_csv" class="btn btn-size btn-success"><i class="fas fa-file-csv"></i> GNOC</button>
    </div>
    <div>
        <button id="export_tmp_ussd_osn" class="btn btn-size btn-success"><i class="fas fa-file-csv"></i> Temporaires</button>
    </div>
    <div>
        <button id="export_desc_ussd_osn" class="btn btn-size btn-success"><i class="fas fa-file-csv"></i> DESC</button>
    </div> -->

    <div>
        <button id="export_ussd_osn_fiable" class="btn btn-size btn-success"><i class="fas fa-file-csv"></i> ALL</button>
    </div>

</div>
</div>
</div>


<!-- Bouton pour ouvrir la modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importer les fichiers avec un ussd_osn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="POST" enctype="multipart/form-data" action="{% url 'insert_extract_ussd_osn' %}">
                    {% csrf_token %}
                    <input type="file" name="file" accept=".xlsx,.csv,.xls" required>

                    <style>
                        /* Styles pour cacher l'élément par défaut */
                        .item_pos {
                            display: flex;
                            flex-direction: row;
                            column-gap: 10px;
                            margin-top: 5px;
                        }
                    </style>
                    <div id="show" style="display: none;">
                        <h3>Format fichier</h3>
                        <p>User</p>
                        <p>Groups</p>
                    </div>
                    <div class="item_pos">
                        <div>
                            <button type="button" class="btn btn-warning" onclick="toggleElement()">Formats
                                fichier</button>
                        </div>

                        <script>
                            function toggleElement() {
                                const show = document.getElementById("show");
                                show.style.display = (show.style.display === "none") ? "block" : "none";
                            }
                        </script>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    document.getElementById("export_ussd_osn_fiable").addEventListener("click", function () {
        window.location.href = "{% url 'export_ussd_osn_fiable' %}";
    });

</script>

{% endblock %}